@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600&family=Montserrat:wght@500&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 10%;
  background-color: #35647f;
}
img {
  width: 150px;
  height: 150x;
  padding: 1px;
}
.logo {
  display: flex;
  margin: -17px;
  color: white;
}

.nav {
  background-color: #ff9d00;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 5rem;
}

.site-title {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  flex: 100;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 0 5rem;
  list-style: none;
  gap: 2rem;
  cursor: pointer;
}
.nav a {
  text-decoration: none;
  color: #3b4650;
}

.nav a:hover {
  color: white;
}
/* HomePage Styling*/

.home {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.slogan {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  padding: 1rem;
  border-radius: 4rem;
  width: fit-content;
  background-color: #ff9d00;
  color: white;
  text-transform: uppercase;
}

.text-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  margin: 1rem;
  padding: 1rem;
  color: #ff9d00;
}
.logo-pic {
  display: flex;
  margin: 1.5rem;
}
.span {
  font-size: 1.5rem;
}

.figures {
  display: flex;
  justify-content: ;
  gap: 2rem;
}

.figures > div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.figures > div > span:nth-of-type(1) {
  color: white;
  font-size: 2rem;
}
.figures > div > span:nth-of-type(2) {
  color: #ff9d00;
  font-size: 1rem;
  text-transform: uppercase;
}

.img {
  display: flex;
  justify-content: flex-end;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 100px;
  height: 40px;
  background-color: #ff9d00;
  color: white;
  border-radius: 4rem;
  cursor: pointer;
}

.gym-logo {
  display: flex;
  justify-content: flex-end;
}

.gym-pic {
  width: 300px;
  height: 450px;
}

.think-big {
  display: flex;
  justify-content: center;
}

.lorem {
  display: flex;
  justify-content: center;
  color: white;
  padding: 10px;
  margin: 10px;
}
